---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import Pagination from "../../components/Pagination.astro";
import { getListFiteredBlog } from "../../utils/filter-blog";
import type { Page } from "astro";
import type { CollectionEntry } from "astro:content";

export async function getStaticPaths({ paginate }: any) {
  const allBlogs = await getCollection("blog");
  const filteredBlogs = getListFiteredBlog(allBlogs);
  return paginate(filteredBlogs, {
    pageSize: 2,
  });
}

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const { page } = Astro.props as Props;
---

<MainLayout title="Welcome to my blogs" description="My list blog">
  <section aria-label="My list blog">
    <h1 class="text-2xl font-bold py-2">My blogs</h1>
    <ul class="list-none p-0">
      {page.data.map((blog: any) => <BlogCard {...blog} />)}
    </ul>
    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </section>
</MainLayout>
