---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";
import { getListFiteredBlog } from "../../utils/filter-blog";

const allBlogs = await getCollection("blog");
const filteredBlogs = getListFiteredBlog(allBlogs);
---

<MainLayout title="Welcome to my blogs" description="My list blog">
  <main>
    <section aria-label="My list blog">
      <h1 class="h1">My blogs</h1>
      <ul>
        {filteredBlogs.map((blog) => <BlogCard {...blog} />)}
      </ul>
    </section>
  </main>
</MainLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
</style>
