---
import { getCollection } from "astro:content";
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from '../../components/BlogCard.astro';

const allBlogs = (await getCollection("blog")).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<MainLayout title="Blog" description="My list blog">
  <main>
    <section>
      <ul>
        {
          allBlogs.map((blog) => (
            <BlogCard {...blog}/>
          ))
        }
      </ul>
    </section>
  </main>
</MainLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
</style>
