/* Import font Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
  --primary-text-color: #fc8c35;
  --primary-text-hover-color: #fd9444;
  --secondary-text-color: #000000;
  --secondary-text-hover-color: #1e1e1e;
  --color-bg: #f2f2f2;
  --color-text: #444444;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #8758ff;
  --header-height: 82px;
  --footer-height: 75px;
  --font-montserrat: "Montserrat", sans-serif;
}

[data-theme="dark"] {
  --color-bg: #000;
  --color-text: #dddddd;
  --bold-text: #eeeeee;
  --nav-text: #dddddd;
  --code: #f2f2f2;
  --block-quote-border: #8e32dc;
  --block-quote-text: #dddddd;
}

@theme {
  --color-primary: var(--primary-text-color);
  --color-primary-hover: var(--primary-text-hover-color);
  --color-secondary: var(--secondary-text-color);
  --color-secondary-hover: var(--secondary-text-hover-color);
  --color-bg: var(--color-bg);
  --color-text: var(--color-text);
  --color-bold-text: var(--bold-text);
  --color-nav-text: var(--nav-text);
  --color-code: var(--code);
  --color-block-quote-border: var(--block-quote-border);
  --color-block-quote-text: var(--block-quote-text);
  --color-slider-bg: var(--slider-bg);
  --color-slider-bg-before: var(--slider-bg-before);
  --color-slider-input-bg: var(--slider-input-bg);
  --header-height: var(--header-height);
  --footer-height: var(--footer-height);
  --font-montserrat: var(--font-montserrat);
}

html,
body {
  @apply bg-bg scroll-smooth text-text font-montserrat;
}

/* body {
  @apply bg-bg px-5 text-left leading-[1.5] scroll-smooth max-w-[65ch] mt-[var(--header-height)] mb-[var(--footer-height)] text-text font-montserrat;
} */

h1,
h2,
h3,
h4,
h5,
h6,
strong,
b {
  @apply text-text;
}

a {
  @apply text-blue-600;
}

nav a {
  @apply mr-2.5;
}

textarea {
  @apply w-full text-base;
}

input {
  @apply text-base;
}

content {
  @apply leading-[1.6];
}

table {
  @apply w-full;
}

img {
  @apply max-w-full h-auto;
}

code {
  @apply px-1.5 py-0.5 bg-code;
}

pre {
  @apply p-4;
}

pre > code {
  all: unset;
}

blockquote {
  @apply px-0 py-0.5 pl-5 m-0 italic border border-block-quote-border text-block-quote-text;
}
