---
import { Icon } from "astro-icon";
import Link from "../components/Link.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <main class="container">
    <h1>404 - Page Not Found</h1>
    <Link href="/" aria-label="Go home">
      <Icon name="tabler:home" width="30" />
      Go back home
    </Link>
  </main>
</MainLayout>

<style>
  .container {
    display: grid;
    place-items: center;
    text-align: center;
    gap: 1rem;
  }
</style>
