---
import MainLayout from "../layouts/MainLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { Image } from "@astrojs/image/components";
import Link from "../components/Link.astro";
---

<MainLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <main>
    <h1>🧑‍🚀 Hello, I'm <span>Tuan</span>!</h1>
    <p>A passionate web developer from Vietnam 🇻🇳</p>
    <div class="about-me">
      <Image
        class="hero-image"
        src="/placeholder-about-me.jpg"
        alt="Hero Image"
        width={200}
        height={280}
        quality={80}
      />
      <div class="content">
        <h1>My blog</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius impedit
          blanditiis, quae adipisci corporis ipsam consequuntur nam omnis nulla
          commodi quisquam hic aperiam exercitationem. Qui dolor officia
          repellat facere temporibus.
        </p>
        <Link href="mailto:tuanna184.dev@gmail.com">Contact Me</Link>
      </div>
    </div>
  </main>
</MainLayout>
<script>
  declare global {
    interface Window {
      netlifyIdentity: any;
    }
  }

  if (window.netlifyIdentity) {
    window.netlifyIdentity.on("init", (user: any) => {
      if (!user) {
        window.netlifyIdentity.on("login", () => {
          document.location.href = "/admin/";
        });
      }
    });
  }
</script>
<style lang="scss">
  h1 {
    span {
      color: var(--primary-text-color);
    }
  }
  .about-me {
    display: grid;
    align-items: center;

    @media screen and (min-width: 640px) {
      grid-template-columns: 1fr 2fr;
      place-content: center;
    }

    .hero-image {
      border-radius: 100vmax;
      object-fit: cover;
      object-position: center;
      box-shadow: var(--shadow-lg);
    }
  }
</style>
