---
const today = new Date();
---

<footer>
  <small>
    Copyright &copy; {today.getFullYear()}
    <span id="copyright">TUAN ANH NGUYEN</span> | All rights reserved.
  </small>
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
