---
const today = new Date();
---

<footer>
  <small>
    Copyright &copy; {today.getFullYear()}
    <span id="copyright">TUAN ANH NGUYEN</span> | All rights reserved.
  </small>
</footer>
<style>
  footer {
    --padding: 25px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: var(--padding) 0;
    text-align: center;
    width: 100%;
    height: calc(var(--footer-height)-2 * (var(--padding)));
    background-color: var(--color-bg);
    box-shadow: var(--shadow-md);
  }
</style>
