---
import { Icon } from "astro-icon/components";
const today = new Date();
---

<footer
  class="fixed bottom-0 left-0 right-0 py-[25px] text-center w-full h-[calc(var(--footer-height))] bg-bg shadow-md"
>
  <small>
    Copyright &copy; {today.getFullYear()}
    <span id="copyright">TUAN ANH NGUYEN</span> | All rights reserved.
  </small>
  <small class="inline-block">
    <a href="/rss.xml" class="flex items-center justify-center gap-2">
      Subcribe to RSS
      <Icon name="tabler:rss" size={20} />
    </a>
  </small>
</footer>
