---
import Navbar from "./Navbar.astro";
import { Icon } from "astro-icon/components";
---

<header
  class="fixed top-0 right-0 left-0 bg-bg h-[var(--header-height)] shadow-md mx-auto"
>
  <div class="flex items-center justify-between max-w-2xl mx-auto">
    <h2 class="my-2">
      <a
        href="/"
        class="mylogo flex items-center no-underline"
        aria-label="Go home"
      >
        <Icon name="mylogo" size={60} />
      </a>
    </h2>
    <Navbar />
  </div>
</header>
