---
import { HEADER_TITLE } from "../consts";
import Navbar from "./Navbar.astro";
// import { Image } from "@astrojs/image/components";
import { Icon } from "astro-icon";
---

<header>
  <h2>
    <a href="/" class="mylogo" aria-label="Go home">
      <Icon name="mylogo" width="60" />
      <!-- <Image
        src={"/my-logo.svg"}
        width={50}
        height={50}
        quality={80}
        aspectRatio="1:1"
        alt="logo"
      /> -->
      {HEADER_TITLE}
    </a>
  </h2>
  <Navbar />
</header>
<style lang="scss">
  header {
    // margin: 0em 0 2em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    // position: relative;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: var(--color-bg);
    height: var(--header-height);
    box-shadow: var(--shadow-md);
  }
  h2 {
    margin: 0.5em 0;
    // width: 100%;
    a {
      display: flex;
      align-items: center;
      text-decoration: none;
      // color: var(--secondary-text-color);
    }
  }
</style>
