---
interface Props extends astroHTML.JSX.AnchorHTMLAttributes {
  style?: "default" | "primary" | "secondary";
}

const { href, class: className, style = "default", ...props } = Astro.props;

const { pathname } = Astro.url;
const isActive = href === pathname || href === pathname.replace(/\/$/, "");
---

<a
  href={href}
  class:list={[
    "flex items-center no-underline hover:text-primary-hover",
    className,
    {
      "font-bold underline": isActive,
      "p-1 border border-primary": style === "secondary",
    },
  ]}
  {...props}
>
  <slot />
</a>
