---
import HeaderLink from "./Link.astro";
import { Icon } from "astro-icon";
import ThemeSwitcher from "./ThemeSwitcher.astro";

import { navData } from "../data/nav-data";
---

<Icon name="ei:navicon" width="30" class="nav-icon" />
<nav aria-label="Primary" class="primary-nav">
  {
    navData.map((item) => (
      <HeaderLink
        class="header-link"
        aria-label={item.ariaLabel}
        href={item.path}
      >
        {item.icon && <Icon name={item.icon.name} width="30" />}
        {item.name}
      </HeaderLink>
    ))
  }
  <ThemeSwitcher id="toggle-theme-primary" />
</nav>

<style lang="scss">
  /* custom media query breakpoints */
  @custom-media --sm (width >= 480px);
  @custom-media --md (width >= 768px);
  @custom-media --lg (width >= 1201px);
  @custom-media --xl (width >= 1440px);

  .nav-icon {
    display: block;
    cursor: pointer;
  }
  .primary-nav {
    display: none;
    background-color: var(--color-bg);
    width: 100%;
  }
  .mobile-show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
  }
  @media screen and (--md) {
    .nav-icon {
      display: none;
    }
    .primary-nav {
      // position: inherit;
      display: flex;
      align-items: center;
      width: auto;
    }
  }
</style>

<script>
  const navIcon = document.querySelector(".nav-icon");
  const primaryNav = document.querySelector(".primary-nav");
  const headerLinks = document.querySelectorAll(".header-link");
  navIcon?.addEventListener("click", (e) => {
    e.preventDefault();
    primaryNav?.classList.toggle("mobile-show");
    headerLinks.forEach((headerLink) => {
      headerLink.classList.toggle("pt-2");
    });
  });
</script>
