---
import { Icon } from "astro-icon/components";
import Link from "./Link.astro";

const { prevUrl, nextUrl } = Astro.props;
---

<nav
  class="pagination text-center flex items-center justify-between w-full"
  aria-label="Blog pages"
>
  <div>
    {
      prevUrl && (
        <Link
          class="header-link"
          aria-label="Previous button"
          href={prevUrl}
          style="secondary"
        >
          <Icon name="tabler:arrow-big-left-line" size={30} />
          <span>Previous</span>
        </Link>
      )
    }
  </div>
  <div>
    {
      nextUrl && (
        <Link
          class="header-link"
          aria-label="Previous button"
          href={nextUrl}
          style="secondary"
        >
          <span>Next</span>
          <Icon name="tabler:arrow-big-right-line" size={30} />
        </Link>
      )
    }
  </div>
</nav>
