---
// content imports
import { getCollection } from "astro:content";

// js utils imports
import { getListFiteredBlog } from "../../utils/filter-blog";
import { slugify } from "../../utils/slugify";

// component imports
import MainLayout from "../../layouts/MainLayout.astro";
import BlogCard from "../../components/BlogCard.astro";

export async function getStaticPaths() {
  const allBlogs = await getCollection("blog");
  const filteredBlogs = getListFiteredBlog(allBlogs);
  const allTags = [
    ...new Set(
      filteredBlogs.reduce((acc, curr) => {
        return acc.concat(curr.data.tags);
      }, [])
    ),
  ];
  return allTags.map((tag: any) => {
    const blogsFilteredByTag = filteredBlogs.filter((blog) =>
      blog.data.tags.includes(tag)
    );
    return {
      params: { slug: slugify(tag) },
      props: {
        tagName: tag,
        posts: blogsFilteredByTag,
      },
    };
  });
}

const { tagName, posts } = Astro.props;

// const allBlogs = await getCollection("blog");
// const filteredBlogs = getListFiteredBlog(allBlogs);
// const blogsFilteredByTag = filteredBlogs.filter((blog) =>
//   blog.data.tags.map((tag: any) => slugify(tag)).includes(slug)
// );
---

<MainLayout title={tagName} description={`Post about ${tagName}`}>
  <main>
    <section class="container" aria-label={`Post about ${tagName}`}>
      <h1 class="h1">Post about <span>{tagName}</span></h1>
      <ul>
        {posts.map((blog: any) => <BlogCard {...blog} />)}
      </ul>
    </section>
  </main>
</MainLayout>

<style>
  ul {
    list-style-type: none;
    padding: unset;
  }
  .h1 span {
    color: var(--primary-text-color);
  }
</style>
